* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 80%;
    margin: 0 auto;
}
.wrapper {
    margin-top: 50px;
    border: 3px solid violet;
    height: 400px;
}

.flex {
    display: flex;
    flex-direction: row;
    /* lavora sul MAIN-AXIS */
    justify-content: space-between;
     /* lavora sul CROSS-AXIS */
     flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid yellowgreen;
    text-align: center;
    color: azure;
}

.row {
    border: 3px solid blue;
    margin-top: 2rem;
    justify-content: space-between;
    /* align-items di default è stretch */
    align-items: center;

}

.col {
    border: 3px solid black;
    width: 27%;
}

.order {
    /* è il peso dell'elemento, di defaul è 1 */
    order: 2;
}