* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.box {
    height: 100px;
    width: 100px;
    background-color: green;
}